"*":
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      accentColor: "#b27252"
      genAccent: true
      paintCursor: true
      predefinedColor: "Blue Grey"
    fonts: {}
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymLinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".git"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "linter-sass-lint":
    globalSassLint: true
  "linter-ui-default": {}
  "markdown-preview-plus":
    useGitHubStyle: true
  "markdown-writer":
    fileExtension: ".md"
  "seti-syntax": {}
  "seti-ui":
    compactView: true
    disableAnimations: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
